.album {
    width: 32%;
    height: 320px;
    padding: 8px 8px 8px 8px;
    vertical-align: top;
    display: inline-block;
    box-sizing: border-box;
}

@media screen and (max-width: 850px) {
    .album {
        width: 45%;
    }
}

@media screen and (max-width: 700px) {
    .album {
        width: 45%;
    }
}

@media screen and (max-width: 600px) {
    .album {
        width: 45%;
    }
}

.album p {
    margin-top: 2px;
    font-size: 14px;
    text-align: center;
    line-height: 1.25em;
    font-weight: 800;

    [data-theme=dark] & {
        color: $dark-color;
    }
    
    [data-theme=light] & {
        color: $light-color;
    }
}

.album img {
    width: 100%;
    margin: 5px 5px 5px 5px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}
