.float-container {
  bottom: 1rem;
  right: 1rem;
  z-index: 100;
  font-size: 1.0em;
  caret-color: transparent;
  position: fixed;

  a {
    position: relative;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    font-size: 2rem;
    color: $light-color-secondary;
    background-color: $light-background-secondary;
    border-radius: 0.2rem;
    opacity: 0.6;
    transition: all 0.25s ease-in;

    &:hover,
    &:focus {
      color: $light-background;
      opacity: 1;

      /*@media only screen and (max-width: 768px) {
        color: $light-color-secondary;
        opacity: 0.5;
      }*/
    }

    i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 1.3rem;
      height: 1.3rem;
    }
  }
}

[data-theme=dark] {
  .float-container {
    a {
      color: $dark-background-header;
      background-color: $dark-background-secondary;

      &:hover,
      &:focus {
        color: $dark-color;

        @media only screen and (max-width: 768px) {
          color: $dark-background-secondary;
        }
      }
    }
  }
}
